*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width:428px) {
    .topheader{
        background-color: #f3f3f3;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .laco-inicial{
        min-height: 8vh;
        width: 98%;
        background-color: #f3f3f3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.788);
    }
    .logos{
        display: flex;
        width: 100px;
        height: 40px;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .logos #logoatinfo img{
        width: 50px;
    }
    .logos #logo16anos img{
        width: 36px;
    }

    .linha{
        width: 24%;
        height: 1px;
        background-color: black;
    }
    .frasepromo P{
        font-size: .6rem;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }

    .conteudo{
        width: 96%;
        min-height: 80vh;   
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 97;
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo .motosorteio{
        height: 45%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .conteudo .motosorteio img{
        width: 400px;
        animation: motoroda 2s infinite ease-in-out  alternate-reverse
    }

    @keyframes motoroda {
        0%{
            rotate: 3deg;
        }
        100%{

        }
    }




    .linha2{ 
        width: 80%;
        height: 1px;
        background-color: black;
        margin-bottom: 20px;
    }
    .conteudo .txtverde{
        background-color: ghostwhite;
        height: 50px;
        width: 80%;
        margin-bottom: 40px;
    }

    .txtexplica{
        background-color: rgb(13, 13, 102);
        height: 80px;
        width: 100%;
        margin-bottom: 40px;
    }
    .conteudo .txtverde span {
        font-size: 0.9rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        background-color: green;
        text-transform: uppercase;
    }
    .logo-final {
        background-color: rebeccapurple;
        height: 60px;
        width: 60px;
    }
    .logo-final img{
        width: 100%;
    }
}

